body {
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    margin: 30px;
    background-color: rgb(226, 230, 242);
}

table {
    border-collapse: seperate;
    margin: auto;
}

td {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
}

.diagonal {
    background-color: rgb(9, 154, 70);
}
