table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-spacing: 0;
}

th,
td {
  padding: 8px 10px;
}

tbody{
  border: 0;
}
